<css src="groups.css" />

<div class="updateGroups">
<h4>修改群组</h4>

{* 显示 当前视图 的消息队列 }
<msgqueue for="$theView" />
<h5>修改群组信息</h5>
<form action="" method="post">
	<div>
		<strong>名　称：</strong>
		<span><widget id="name" attr.class="addgroups_text"/></span>
		<msgqueue for="$theView->widget('name')" />
	</div>
	<div>
		<strong>类　别：</strong>
		<span><widget id="type"/></span>
		<msgqueue for="$theView->widget('type')" />
	</div>
	<input type="submit" value="修　改" class="updateGroups_btn" />
	
</form>
</div>