<css src="groups.css" />

<div class="updateThread">
<h4>修改话题</h4>
{* 显示 当前视图 的消息队列 }
<msgqueue for="$theView" />

<form action="" method="post">
	<div class="chooseThread">
		<label>群组：</label>
		<widget id="group"/>
		<msgqueue for="$theView->widget('group')" />
	</div>
	<div class="threadContent_border">
		<widget id="content" attr.class="threadContent"/>
		<msgqueue for="$theView->widget('content')" />
	</div>
	<views name='pollView'/>
	<input type="hidden" id="t" name="t" value="{= $theRequest->get('t')}" />
	<input type="hidden" id="id" name="id" value="{= $theRequest->get('tid')}" />
	<input type="submit" value="发布话题" class="updatethread_btn" />
	
</form>
</div>