<div class="addPoll">
	<div class="chooseNum">
		<span class='chooseNum_tit'>最多选择</span>：<widget id="poll_maxitem"/>
		<msgqueue for="$theView->widget('poll_maxitem')" />
	</div>
	
	<div id="items">
		<loop start="1" end="5" var="i">
		<div class="items_ceil">
			<span class='itemContent'>投票内容{=$i}</span>：<widget id="'poll_item_title_'.$i" id.type="expression" />
			<msgqueue for="$theView->widget('poll_item_title_'.$i)" />
		</div>
		</loop>
		
	</div><a href='javascript:;' onClick='addItem()' class="moreitems">+增加更多选项</a>
	<input type="hidden" id="itemSum" name="itemSum" value="5" />
	<script>
	function addItem(){
		
		var newItem = jQuery("#items > div").eq(0).clone(true);
		var nowNum = parseInt(jQuery("#itemSum").val()) + 1 ;
		newItem.find(".itemContent").html("投票内容" + nowNum);
		newItem.find("input").attr("id","poll_item_title_"+nowNum);
		newItem.find("input").attr("name","poll_item_title_"+nowNum);
		newItem.find("input").val("");
		jQuery("#items").append(newItem);
		jQuery("#itemSum").val(nowNum);
	}
	</script>
</div>