.allgroups,.addgroups,.threadList,.updateGroups,.threadDetails{ overflow:hidden; zoom:1;border:1px solid #ccc;padding:20px;}
.allgroups h4,.addgroups h4,.threadList h4,.updateGroups h4{ font-size:14px; font-weight:bold; color:#005eac; border-bottom:1px solid #ccc;padding-bottom:6px;margin-bottom:20px;}
.allgroups li{width:270px; padding:10px; float:left; display:inline; margin:0px; height:55px; margin:0 4px 10px 0;}

.allgroups_avatar{height:48px; width:48px; overflow:hidden; padding:1px; border:1px solid #ccc; display:block; float:left; margin-right:8px;}
.allgroups_avatar img{ height:48px; width:48px;}
.allgroups_info{ float:left; height:50px; width:200px; overflow:hidden;}
.allgroups_info h5{margin-bottom:10px;margin-top:4px;}
.allgroups_info h5 a{ font-size:13px; font-weight:bold}
.allgroups_info h5 a:hover{ text-decoration:none;color:#f90;}
.allgroups_info h5 span{ font-size:12px; color:#666;}
.allgroups_info p a{margin:0 6px 0 0;}
.allgroups_info p a:hover{color:#fff; background:#005eac; text-decoration:none}


.addgroups h5,.updateGroups h5{font-size:16px; font-weight:bold;margin:0 0 20px 77px;}
.addgroups .addgroups_btn,.updateGroups .updateGroups_btn,.vote_btn{
	margin:0 0 10px 136px;
	padding:2px 15px;
	cursor:pointer;
	background:#005eac;
	color:#fff;
	border-color: #B8D4E8 #124680 #124680 #B8D4E8;
    border-style: solid;
    border-width: 1px;
}
.addgroups .jc_message_queue,.updateGroups .jc_message_queue{margin-bottom:20px;}
.addgroups form .jc_message_queue,.updateGroups form .jc_message_queue {
	margin-bottom:0;
	float:left;
	background-color: #FFF4F0;
	border-color: #FF3510;
	border-style: solid;
	border-width: 1px;
	height: 16px;
	padding: 2px 15px;
	text-align: left;
}

.addgroups div,.updateGroups div{
	margin:0 0 20px 0;
	height:22px;
}
.addgroups strong,.updateGroups strong {
	width:130px;
	display: block;
	float: left;
	padding-top:2px;
	text-align: right;
	vertical-align: middle;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
}
.addgroups span,.updateGroups span {
	float:left;
}
.addgroups_text {
	width:200px;
	height:16px;
	padding:2px;
	border:1px solid #ddd;
}
.addgroups input,.addgroups select,.updateGroups input,.updateGroups select{
	margin-left:6px;
}
.addgroups select,.updateGroups select {
	height:20px;
	margin-top:2px;
}

.threadList ul{margin-bottom:10px;}
.threadList li{padding:5px 0; height:16px; line-height:16px;margin:0px; background:url(/platform/ui/images/column_line.gif) repeat-x 0 bottom; list-style-type:none}
.threadList span{font-size:14px;  float:left;}
.threadList span a:hover{ text-decoration:none; color:#f90}
.threadList em{ float:right;}

.threadDetails h4{ border-bottom:1px solid #ccc;padding-bottom:6px;margin-bottom:10px;}
.thread_index{font-weight:bold;}
.threadName{color:#999;}
.fromGroup{float:right;color:#999;}

/*Poll*/
.poll{margin:10px 0 0 0; background:#f8fcff; border:1px solid #e3eef8;padding:10px 10px 10px 200px;}
.poll_tit{color:#005eac; font-weight:bold; font-size:14px;margin-bottom:6px;}
.poll_tit span{ font-weight:normal; color:#999; font-size:12px;}
.items_ceil{height:20px; line-height:20px;}
.items_ceil input{ vertical-align:middle; margin:0 4px 0 0;}
.vote_btn{margin:10px 0 10px 66px;}